@import url(https://fonts.googleapis.com/css?family=Roboto:700);

.module {
    height: 100%;
    padding-top: 30%;

}

body {
    background-image: url("https://cdn.discordapp.com/attachments/1007632534672253011/1007645900056834158/banner-blank.png");
    color: white;
    font-family: 'Roboto';
    text-align: center;
}

.links {
    margin: auto;
    text-align: center;
}

.logo {
    width: 100%;
}



.link {
    display: inline-block;
    width: 80pm;
    height: 80px
    padding-right: 5%;
}