@import url('https://fonts.googleapis.com/css2family=Roboto+Condensed:wght@700&display=swap');

body {
  background-image: url("https://cdn.discordapp.com/attachments/1007632534672253011/1007645900056834158/banner-blank.png");
  background-repeat: no-repeat;  
}

.title {
  color: white;
  text-align: center;
  padding-top: 10%;
  font-family: 'Roboto Condensed', sans-serif;
}

.title2 {
  color: white;
  text-align: center;
  padding-top: 20px;
  font-family: 'Roboto Condensed', sans-serif;
}

.sound {
  color: white;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  word-wrap: break-word;
  font-size: 20px;
  line-height: 5px;
}

.description 
  color: white;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  word-wrap: break-word;
  font-size: 20px;
}