@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  background-image: url("https://cdn.discordapp.com/attachments/1007632534672253011/1007645900056834158/banner-blank.png");
  background-repeat: no-repeat;
  
}

.logo {
  margin-bottom:  20px;
  margin-left:  auto;
  margin-right:  auto;
  margin-top:  20px;
  text-align: center;
}

.test {
  margin-left:  auto;
  margin-right:  auto;
  display:  block;
  width:  200px;
  height:  30px;
  background:  rgba(255, 255, 255, 0.2);
  border:  2px solid white;
  border-radius: 10px;
  margin-bottom: 10px;
  font-family: 'Bebas Neue', cursive;
  font-size: 20px;
  
}

a:link {
  background-color: rgba(255, 255, 255, 0);
  color: white;
  padding:  13px 50%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transform: translateY(-350%);
}


.link-text {
  transform: translateY(-195%) translateX(0%);
  color:  white;
  text-align: center;
}

.link-icon {
  height:  100%;
  width: 25px;
  transform: translateX(-320%);
}

